# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PlatformIO folders
.pio
.pioenvs
.piolibdeps

# VS Code folders (Personal settings)
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
.copilotignore

# Python cache (if you use uv/pre-commit)
__pycache__/
.python-version
.venv/

# Operating system files
.DS_Store
thumbs.db

# Other files
compile_commands.json
data/*
python_files/intanutil/*
load_intan_rhd_format.py

# pre commit
.pre-commit-config.yaml

# Folders
data/
data2/
softmax_csv_analysis/
softmax_test_120.csv
build/
